* {
	margin: 0;
}

body {
	height: 100vh;
	min-width: 350px;
	background: azure;
}

footer, header {
	height: 80px;
	display: flex;
	width: 100%;
}

header {
	align-items: flex-end;
	justify-content: flex-start;
	margin-left: 4%;
}

footer {
	align-items: flex-start;
	justify-content: flex-end;
}

footer div {
	display: inline-block;
	width: 80%;
}

header span, footer span {
		color: gray;
}

h1 {
	font-size: 40px;
	color: crimson;
	margin-left: 60px;
	display: inline-block;
	padding: 10px;
}

h2 {
	color: crimson;
}

main {
	height: calc(100vh - 152px);
	min-height: 400px;
}

.fakeLink {
	opacity: 0.7;
}

.fakeLink:hover {
	opacity: 1;
	cursor: pointer;
	text-decoration: underline;
}

.fullHeight {
	height: 100%;
}

/*.fullWidth {
	width: 100%;
}*/

.aboutText {
	margin-right: 40px;
}