* {
	margin: 0;
}

body {
	height: 100vh;
	min-width: 700px;
	background: azure;
}

footer, header {
	height: 80px;
	display: flex;
	width: 100%;
}

header {
	align-items: flex-end;
	justify-content: flex-start;
}

footer {
	align-items: flex-start;
	justify-content: flex-end;
}

footer div {
	display: inline-block;
	width: 80%;
}

header span, footer span {
		color: gray;
}

h1 {
	display: inline-block;
	font-size: 40px;
	color: crimson;
	margin-left: 60px;
	display: inline-block;
	padding: 10px;
}

h2 {
	color: crimson;
}

main {
	height: calc(100vh - 152px);
	min-height: 400px;
}

.fakeLink {
	opacity: 0.7;
}

.fakeLink:hover {
	opacity: 1;
	cursor: pointer;
	text-decoration: underline;
}

.fullHeight {
	height: 100%;
}

.outerNav {
	width: 70%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
}

.outerNav h4 {
	margin-right: 20px;
	color: crimson;
}

.noStyleList {
	list-style: none;
	margin: 0;
	padding: 0;
}

.overflow {
	overflow: scroll;
}
